table.boards th.board-header { background-color: transparent; text-align: left; font-size: 1.25em; 
    padding: 1.25em 0.125em 0.5em;
}
.doc-icon svg {width: 1em; height: 1em; vertical-align: middle;}
a .doc-icon svg {fill: #5778d8;}

.doc-downloads {float: right; padding-bottom: 3em; margin-top: -1em;}
.doc-header {display: flex; flex-direction: row; clear: both; margin-bottom: 5em;}
.doc-header .quote {flex: 3}
.doc-header .title {flex: 4}
.doc-header .logo {flex: 3}
.doc-header .title {white-space: pre; text-align: center; font-weight: bold;} 
.doc-header .logo img {margin-top: -1em; width: 75%;}

div[data-tiddler-title^="Bylaws"] .tc-tiddler-body h2  {font-weight: 500;}
div[data-tiddler-title^="Bylaws"] .tc-tiddler-body h3  {font-weight: 600;}

table.candidates ul {list-style: none;}
table.candidates thead th {font-size: 1.25em; padding: .5em;}
table.candidates td.Democratic {background: #eef;}
table.candidates td.Republican {background: #fee;}
table.candidates th.Democratic {background: #e8e8f8;}
table.candidates th.Republican {background: #f8e8e8;}
